extends layout

block content
    -var columns=8
    -var selected = 'home'; //defaul
    -var menu = { 'New place': '/list/new', 'Logout': '/logout'};
    -var hello = 'Hello ' + username

    h1= title
    h4= hello
    
    body
    nav
      ul
        each val, key in menu
          li
            if selected === key
              a.selected(href=val, title=key)= key
            else
              a(href=val, title=key)= key
    
    .table-responsive
        table(
            class='table table-bordered table-striped'
        )
            thead
                tr
                    th Actions
                    th Name
                    th(
                        style="text-align:center"
                    ) Sara's Rating
                    th(
                        style="text-align:center"
                    ) Todd's Rating
                    th Created By
                    th Updated By
                    th Date Added
                    th Date Updated
            tbody
                each place in places
                    tr
                        td
                            a(
                                href='/list/edit/' + place._id
                            ) Edit
                            = '  '
                            a(
                                href='/list/delete/' + place._id
                            ) Delete
                        td= place.name
                        td(
                            align='center'
                        )= place.saraRating
                        td(
                            align='center'
                        )= place.toddRating
                        td= place.createdBy
                        td= place.updatedBy
                        td= moment(place.createdDate).format('MM/DD/YYYY h:mm a')
                        td= place.updatedDate ? moment(place.updatedDate).format('MM/DD/YYYY h:mm a') : ''
                else
                    tr
                        td(colspan=columns) No Current Places