extends layout

block content
    h1 #{title}
    
    - var formAction = '/list/save'
    
    case action
        when 'update'
            - formAction = '/list/save/' + place._id

        when 'delete' 
            - formAction = '/list/delete/' + place._id

    if place
        - var name = place.name
        - var saraRating = place.saraRating
        - var toddRating = place.toddRating

    if messages
        div
            ul
                each message in messages
                    li= message

    form(action=formAction, method='post')
        .table-responsive
            .table
                tr
                    td
                        .form-group
                            | <strong>Place</strong>
                            input(
                                class= 'form-control'
                                type= 'text'
                                name= 'name'
                                value= name
                            )
                tr
                    td
                        .form-group
                            | <strong>Sara's Ranking</strong>
                            input(
                                class= 'form-control'
                                type= 'text'
                                name= 'saraRating'
                                value= saraRating ? saraRating : 0
                            )
                tr
                    td
                        .form-group
                            | <strong>Todd's Ranking</strong>
                            input(
                                class= 'form-control'
                                type= 'text'
                                name= 'toddRating'
                                value= toddRating ? toddRating : 0
                            )
                tr
                    td
                        .form-group
                            case action
                                when 'update'
                                when 'create'
                                    input(
                                        type= 'submit'
                                        class= 'btn btn-default'
                                        value= 'Save'
                                    )
                                when 'delete'
                                    input(
                                        type= 'submit'
                                        class= 'btn btn-danger'
                                        value= 'Delete'
                                    )
                            = '  '
                            a(
                                href= '/list'
                            ) Back to List